@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center"><img src="~/images/images.png" style="height: 200px"></div>

<div class="text-center alert-danger">
    
    <h1 class="display-4 bg-light">Welcome to the Job Portal!</h1>
</div>
